<!DOCTYPE html>
<html> 
<head>
    
</head>
<body>

<h3>Card Creation</h3>


<form method="post" action="(INSERT DIRECTORY HERE)">
    
        <label for="math">Input Any Card Below</label>
        <textarea rows="25" cols="25"></textarea>
        <input type="submit" name="Submit" value="Submit Card">
    
</form>

